.wrap-form{
    width: 300px;
    height: 386px;
    margin: auto;
    background: #f3ecec;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-top: 70px;
}
.button-register{
    margin-top: 20px !important;
}
.button-upload{
    width: 60px;
    margin-left: 18px !important;
    margin-bottom: 20px !important;
    
}
.MuiFormHelperText-root-89{
    color: red !important;
}
.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
	padding: 0px !important;
	position: relative;
    height: 50px;
}
.dropdown{
	opacity: 0;
	position: absolute;
	right: 0%;
	bottom: 0;
}
.card-title{
    width: 90% !important;
    font-size: 14px !important;
    overflow: hidden;
    height: 50px;
	text-overflow: ellipsis;
	line-height: 50px;
	position: absolute;
    bottom: 0;
}
.card:hover .dropdown{
    opacity: 1;

}
.dropdown a{
    cursor: pointer;
}
.card-img-top {
    width: 75% !important;
    height: 75% !important;
    position: absolute;
    left: 10%;
    top: 2%;
}

.login-form {
	max-width: 300px;
	position: absolute;
    top: 25%;
    left: 40%;
  }
  .register-form {
	width: 300px;
	position: absolute;
    top: 25%;
    left: 40%;
  }
  .login-form-forgot {
	float: right;
  }
  .login-form-button {
	width: 100%;
  }
  .card1{
      height: 191px !important;
  }